<div id="wrapper" >
<h2>Ray Of Hope</h2>
  <div id="columns col-lg-12 col-md-12 col-sm-12 col-centered">
    <% @instance_children.each do |child| %>
    <div class="pin">
      <%= image_tag(child.med_image) %>
      <b><%= child.name %></b>
      <p>
        Age: <%= child.age %> 
      </p>
      <p>
        Gender <%= child.gender%>
      </p>
      <p><%= link_to 'More', child %></p>
    </div>
    <%end%>
  </div>
</div>