<button type="button" class="btn btn-default"><%= link_to 'Back', children_path %></button>
<p id="notice"><%= notice %></p>


<div id="show-columns">
		<div class="show-pin">
			<p>
  				<strong>Name:</strong>
  				<%= @child.name %>
			</p>
			<%= image_tag(@child.med_image)%>
			
			<p>
				<strong>Gender:</strong>
				<%= @child.gender %>
			</p>
			<p>
				<strong>Age:</strong>
				<%= @child.age %>
			</p>

			<p>
				<strong>Description:</strong>
				<%= @child.description %>
			</p>
		</div>
</div>